.hero {
  padding-top: 222px;
  background-image: url("./../images/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 120px;
  @media only screen and (max-width: 1000px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  overflow: hidden;
}

.hero__title {
  margin-left: 150px;
   font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  color: rgba(34, 34, 34, 0.08);
  margin-bottom: 0;
  @media only screen and (max-width: 1000px) {
    margin-left: 0px;
    font-size: 68px;
  }
  @media only screen and (max-width: 600px) {
    margin-left: 0px;
    font-size: 48px;
  }
}

.hero__text {
  margin-left: 588px;
   font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1000px) {
    margin-left: 0px;
  }
}

.hero__subTitle {
   font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  color: #222222;
  margin-bottom: 10px;
  @media only screen and (max-width: 600px) {
    font-size: 28px;
  }
}

.hero__text p {
  margin-bottom: 44px;
}

.hero__text strong {
  color: #3bae12;
  font-weight: 400;
}
